@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Kalam:wght@300&family=Shantell+Sans:wght@300&display=swap');

/* The following code removes all default margins, padding and borders */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Shantell Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */
h1, h2 {
    font-family: Kalam, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    font-weight: 500;
    margin-left: 30px
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

/* sets the line height for the logo and menu and by default 
    the text will be centered in the vertical line height for a balanced look */
#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and text box*/
#hero-outer {
    height: 480px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/dragos-gontariu-unsplash-cropped.webp) no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 130%;
    font-family: Kalam, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    
    width: 600px;
    height: 120px;

    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: rgba(153, 9, 185, 0.7);
    border-radius: 20px;

    bottom: 0px;
    left: 150px;

    position: absolute;
}

/* Button Styling */
.button {
    background: hsl(289, 91%, 38%);
    border: 2px solid white;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    }

.button:hover {
    background: white;
    border: 2px solid hsl(289, 91%, 38%);
    color: hsl(289, 91%, 38%);
    padding: 10px 10px;
    border-radius: 5px;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

#jump-right-in {
    height: 160px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.hr1 {
    border: 10px solid hsl(289, 91%, 38%);
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.section-heading {
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}

/* Philosophy Section */
#philosophy {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#philosophy > div {
    margin: 10px;
    background-color: #fafafa;
    width: 260px;
    height: 460px;
    padding: 20px 20px;
    text-align: center;
    border: 5px solid hsl(289, 91%, 38%);
    border-radius: 20px;
    position: relative;
}

hr {
    border-top: 2px solid hsl(289, 91%, 38%);
    width: 100%;
    margin: 5px 0;
}

.circle-cover {
    padding: 0;
    width: 260px;
    height: 260px;
    border-radius: 15px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#bg1 {
    background: url('../images/senjuti-kundu-unsplash-cropped.jpg') no-repeat center center;
}

#bg2 {
    background: url('../images/kideaselsmall.webp') no-repeat center center;
}

#bg3 {
    background: url('../images/kidcrocsmall.webp') no-repeat center center;
}

/* Class Times Section */
#class-times {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#class-times div {
    margin: 10px;
    background-color: #fafafa;
    width: 300px;
    height: 480px;
    padding: 20px 0;
    text-align: center;
    border: 5px solid hsl(289, 91%, 38%);
    border-radius: 20px;
}

#class-times h2 {
    font-size: xx-large;
    margin: 10px 5px;
}

#class-times h3 {
    font-size: x-large;
    margin: 10px auto;
}

#class-times hr {
    border-top: 2px solid hsl(289, 91%, 38%);
    width: 80%;
    margin: 5px auto;
}

#class-times a {
    display: inline-block;
    margin: 20px;
}

/* Footer Styling */
footer {
    clear: both;
    height: 150px;
    width: 100%;
}

#address {
    font-family: Kalam, sans-serif;
    margin-top: 20px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.social-networks {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-networks li {
    list-style-type: none;
    padding: 50px;
}

.social-networks i {
    font-size: 200%;
    color: #3a3a3a;
}

/* About Page Styling */
#about-the-artists {
    clear: both;
}

.artist {
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 30px;
}

.artist-bio {
    background-color: white;
    margin: 0 auto;
    width: 50%;
}

.artist-image {
    width: 300px;
    height: 300px;
    padding: 0px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-bg-wkd {
    background: url('../images/wrdsmall.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-bg-sbr {
    background: url('../images/sbrsmall.webp') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-bg-arm {
    background: url('../images/amrsmall.webp') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-bg-kid {
    background: url('../images/klarasmall.webp') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Main Gallery CSS */
#photos {
    clear: both;
    margin: 10px;
    column-count: 4;
    column-gap: 5px;
}

#photos img {
    width: 100%;
    border-radius: 5px;
}

.container {
    position: relative;
    width: 100%;
}

/* The overlay effect - lays on top of the container and over the image - developed with help of W3 Schools
        https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.overlay {
    position: absolute;
    bottom: 5px;
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 15px;
    padding: 10px 0 10px 0;
    text-align: center;
    border-radius: 5px;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
    opacity: 1;
}

/* Sign up page styling */
.form-section {
    clear: both;
    max-width: 800px;
    width: 100%;
}

.sign-up-form {
    margin: 150px 10% 0 10%;
    color: #3a3a3a;
    background-color:#fafafa;
    padding: 30px;
}

.sign-up-form h2 {
    text-align: center;
}

.sign-up-form h3 {
    margin: 10px 0 5px 0;
}

.text-input {
    margin: 10px 8% 20px 2%;
    background: transparent;
    height: 25px;
    width: 90%;
    border: 2px solid hsl(289, 91%, 38%);
    border-radius: 4px;
}

#message {
    margin: 10px 0 20px 0;
    width: 100%;
    border: 2px solid hsl(289, 91%, 38%);
    border-radius: 4px;
}

.form-submit-button {
    background: hsl(289, 91%, 38%);
    border: 2px solid white;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-family: Shantell Sans, sans-serif;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.form-submit-button:hover {
    background: white;
    border: 2px solid hsl(289, 91%, 38%);
    color: hsl(289, 91%, 38%);
    padding: 10px 10px;
    border-radius: 5px;
    font-family: Shantell Sans, sans-serif;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

/* 404 page styling 404 page styling 404 page styling */
#error-container {
    clear: both;
    box-sizing: border-box;
    height: 400px;
    width: 80%;
    margin: 20px 10% 20px 10%;
    border: 5px hsl(289, 91%, 38%) solid;
    border-radius: 20px;
    padding: 50px 20px 0px 20px;
}

#error-container h1 {
    color:hsl(289, 91%, 38%);
    text-align: center;
    font-weight: 1000;
    font-size: 300%;
}

#error-container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 150%;
}

#error-container div {
    text-align: center;
    font-size: 300%;
}

 /* Responsiveness for medium screen sizes from 950px wide and down */
 @media screen and (max-width: 1050px) {

    #photos {
        column-count: 3;
    }
 }

 @media screen and (max-width: 850px) {

    #photos {
        column-count: 2;
    }

    #logo {
        float: left;
        font-size: 250%;
        font-weight: 500;
        margin-left: 20px
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    
    #cover-text {
        font-size: 100%;
        font-family: Kalam, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        
        width: 300px;
        height: 160px;
    
        padding-top: 50px;
        padding-left: 5px;
        padding-right: 5px;
    
        background-color: rgba(153, 9, 185, 0.7);
        border-radius: 20px;
    
        bottom: 0px;
        left: 0px;
    
        position: absolute;
    }
 }

 @media screen and (max-width: 800px) {

    .artist-bio {
        background-color: white;
        margin: 0 auto;
        width: 80%;
    }
 }

 @media screen and (max-width: 450px) {

    #photos {
        column-count: 1;
    }

    #logo {
        margin-left: 10px;
        font-size: 200%;
    }

    #menu {
        margin-left: 10px;
        font-size: 90%;
        letter-spacing: 1px;
    }
}
    

@media screen and (max-width: 320px) {

    #logo {
        margin-left: 10px;
        font-size: 200%;
    }

    #menu {
        margin-left: 10px;
        font-size: 70%;
        letter-spacing: 1px;
    }

    #cover-text {
        
        bottom: 0px;
        left: -10px;
    
        position: absolute;
    }

    .circle-cover {
        padding: 0;
        width: 260px;
        height: 240px;
        border-radius: 15px;
        position: absolute;
        bottom: 2%;
        left: 5%;
        max-width: 90%;
    }

    .artist-bio {
        background-color: white;
        margin: 0 auto;
        width: 95%;
    }
}